@import './util/varilables.scss';
$body-bg: #fbfbfb;


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $body-bg;
}

.root {
    overflow: auto;
}

.result {
    min-height: 30px;
    margin-top: 20px;
}

.wrapper {
    width: 500px;
    margin: 10px auto;
    font-size: 14px;
    background-color: $white-color;
    border: 1px solid $border-color;
    padding: 20px;
}

// 评论框样式
.comment-input {
    background-color: $white-color;
    border: 1px solid $border-color;
    padding: 20px;
    margin-bottom: 10px;
}

.comment-field {
    margin-bottom: 15px;
    display: flex;

    .comment-field-name {
        display: flex;
        flex-basis: 100px;
        font-size: 14px;
    }

    .comment-field-input {
        display: flex;
        flex: 1;

        input,
        textarea {
            border: 1px solid $border-input;
            border-radius: 3px;
            padding: 5px;
            outline: none;
            font-size: 14px;
            resize: none;
            flex: 1;
        }

        textarea {
            height: 100px;
        }
    }
}

.comment-field-button {
    display: flex;
    justify-content: flex-end;

    button {
        padding: 5px 10px;
        width: 80px;
        border: 0;
        border-radius: 3px;
        background-color: $primary-color;
        color: $white-color;
        outline: none;
        cursor: pointer;

        &:hover {
            opacity: .7;
        }

        &:active {
            opacity: 1;
        }
    }

    .cancle-btn {
        background-color: $white-color;
        margin-right: 10px;
    }
}

button.cancle-btn:active {
    background: #9e9e9e;
}

// 评论列表样式

.comment-list {
    background-color: $white-color;
    border: 1px solid $border-color;
    padding: 20px;
}

// 评论组件样式

.comment {
    position: relative;
    display: flex;
    border-bottom: 1px solid $border-color;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 50px;

    .comment-user {
        flex-shrink: 0;
    }
}

.comment-username {
    color: $primary-color;
    font-style: italic;
}

.comment-createdtime {
    padding-right: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
}

.comment:hover .comment-modify,
.comment:hover .comment-delete {
    color: $primary-color;
}

.comment-modify,
.comment-delete {
    position: absolute;
    right: 0;
    top: 0;
    color: transparent;
    font-size: 12px;
    cursor: pointer;
}

.comment-modify {
    right: 30px;
}

.comment p {
    margin: 0;
}

code {
    border: 1px solid #ccc;
    background: #f9f9f9;
    padding: 0 2px;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);

    .comment-input {
        width: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -271px;
        margin-top: -120px;
    }
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .main-header {
        display: flex;

        .title {
            flex: 1;
        }
    }

    .main-content {
        flex: 1 1 auto;
    }

    .fetching-wrapper {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

code {
    border: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
